{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <br />
        <h1><a style="text-decoration-line: underline; color: black;" href="/event">Upcoming Events</a></h1>
        <ul>
        {{ range where .Site.Pages "Type" "event" }}
        <!-- start date is greater or equal to today + 1 month -->
          {{ if ge (now.AddDate .Site.Params.events.leadingYears .Site.Params.events.leadingMonths .Site.Params.events.leadingDays).Unix (time .Params.StartDate).Unix }}
          <!-- end date is less or equal to today -->
          {{ if le now.Unix (time .Params.EndDate).Unix }}<br />
            <li>
              <a href="{{ .RelPermalink }}">{{ .Title }}</a><br />
              <span style="color: grey; font-style: italic;">Event Start: {{ .Site.Params.dateFormat | (time .Params.StartDate).Format }} | Event End: {{ .Site.Params.dateFormat | (time .Params.EndDate).Format }}</span>
            </li>
          {{ end }}
          {{ end }}
        {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}

