<div class="accordion">
  <ul>
  {{ range $taxonomyname, $taxonomy := site.Taxonomies }}
    <li>
      <div class="card">
        <div class="card-header" id="heading-{{ $taxonomyname }}">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ $taxonomyname }}" aria-expanded="true" aria-controls="#collaps-{{ $taxonomyname }}">
            {{ $taxonomyname }}
          </button>
        </div>

        <div id="collapse-{{ $taxonomyname }}" class="collapse" aria-labelledby="heading-{{ $taxonomyname }}" data-parent="#accordion">
          <div class="card-body">

            <div class="accordion-1">
            <ul>
            {{ range $key, $value := $taxonomy }}
              <li>
                <div class="card">
                  <div class="card-header" id="taxonomy-heading-{{ $key }}">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ $key }}" aria-expanded="true" aria-controls="#collapse-{{ $key }}">
                      {{ $key }}
                    </button>
                  </div>

                  <div id="collapse-{{ $key }}" class="collapse" aria-labelledby="heading-{{ $key }}" data-parent="#accordion-1">
                    <div class="card-body">
                      <ul class="list-group">
                      {{ range $value.Pages }}
                        <li class="list-group-item"><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                      {{ end }}
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            {{ end }}
            </ul>
            </div>

          </div>
        </div>
      </div>
    </li>
  {{ end }}
  <ul>
</div>
